.modal-ext {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11111;
}

.modal1 {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #00000063;
  border: outset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-main {
  margin: auto;
  background-color: rgb(255 255 255);
  max-width: 1000px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.timelog-content {
  overflow: auto;
  max-width: 1000px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  margin-top: 10px;
}
#btn_ext_month {
  background: #066095;
  color: white;
}

.modal-ext .modal-header{
  background-color: #fefefe;
  margin: auto;
  border-bottom: 3px solid #88888885;
  width: 100%;
  text-align: center;
}

.modal-ext .modal-header p {
  text-transform: uppercase;
  font-weight: bold;
}
.modal-ext .modal-content{
	padding: 10px;
}

.modal-ext .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
  margin-right: 6px;
}

.modal-ext .close:hover,
.modal-ext .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a.ext_btn{
  color: orange !important;
}

.modal-ext input::-webkit-outer-spin-button,
.modal-ext input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn_update_time_log.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.modal-ext tr:nth-child(even) {
  background: #ddd;
}

.modal-ext tr:nth-child(odd) {
  background: #bbb;
}
.modal-ext .modal-content {
  position: relative;
}


.modal-ext .groupBtnAction {
    position: sticky;
    top: 30px;
    right: 0;
    /* text-align: right; */
    padding: 0 18px;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    gap: 6px;
}