<div class="modal-ext">
  <div class="modal1 card">
    <div class="modal-main">
      <div class="modal-header">
        <span class="close">&times;</span>
        <p>Supporter update remine</p>
      </div>
      <div class="modal-content">
        <button id="btn_ext_month">Show Times Log</button>
        <input placeholder="month" name="ext_month" type="number" min="1" max="12"></input>
        <div class="timelog-content">
      
        </div>
        <div style="text-align: center;">
          <img style="display: none; width: 150px;" class="ext_time_img_loading" src="loading.gif" />
        </div>
      </div>
    </div>
  </div>
</div>